body {
    text-align: center;
    font-size: 24px;
}

h1 {
    font-size: 2em;
}

.jumbotron {
    background-image: url(car.jpeg);
    background-repeat: no-repeat;
    height: 350px;
    border-radius: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -170px;
}