body {
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
}

.jumbotron {
    background-image: url(geo.jpeg);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -240px;
}