.jumbotron {
    background-image: url(clock.jpeg);
    background-repeat: no-repeat;
    height: 450px;
    border-radius: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -170px;
}