.jumbotron {
    background-image: url(cog.jpeg);
    background-repeat: no-repeat;
    height: 220px;
    border-radius: 0px;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}
