.jumbotron {
    background-image: url(summer.jpeg);
    background-repeat: no-repeat;
    height: 220px;
    border-radius: 0px;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

.container {
    text-align: center;
}

.container1 {
    text-align: left;
    margin: auto;
    width: 460px;
}