body {   
    background-color: white;
    font-size: 18px;
}

.panel {  
    margin: 20px auto;
    width: 100%;
}

.north-div {
    width: 100%;
    height: 40px;
    padding: 0px;
}

.row {
    height: 40px;
    width: 100%;
    margin: 0px;
    padding-top: 5px;
}

.img {
    height: 30px;
    width: 30px;
    float: left;
    background-color: white; 
    overflow: auto;
}
#head {
    font-weight: bold;
}
.col-sm-4 {
    text-align: center;
}
#su {  
    background-color: #990000;  
    color: lightgray;
}

#ou {  
    background-color: #154733;   
    color: yellow;
}

#wsu {  
    background-color: #981e32;  
    color: #5e6a71; 
}

#cal {  
    background-color: #081f3f;  
    color: #fcb326
}

#uw {  
    background-color: #4b2e83;  
    color: #b7a57a;
}

#osu {  
    background-color: #252525;  
    color: #Cc4500;
}
