.jumbotron {
    background-image: url(coffee.jpeg);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -200px;
    text-align: left;
    padding-left: 100px;
    color: white;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: normal;
}

td, th {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.even {
    background-color: #f2f2f2;
}

#head {
    background-color: #228B22;
    text-decoration: none;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

th {
    background-color:#006400;
    text-decoration: underline;
    color: white;
}