#title {
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.jumbotron {
    background-image: url("lebron.jpg");
    color: white;
}

h1 {
    font-size: 2rem;
}

.big {
    padding: 20px;
    text-align: center;
}

.col-md-4 {
    padding: 10px;
    border-right: 1px solid gray;
}

hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.row1 {
    font-weight: bold;
    font-size: 1.5em;
}

.bigrow {
    margin-bottom: 30px;
}


img {
    width: 100px;
    height 100px;
    padding-bottom: 30px;
}

.well {
    background-color: lightgray;
}

.last, .big {
    border-right: 0px;
}