body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

td {
    padding:40px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

#row1 {background-color: rgb(0, 255, 255);}
#row2 {background-color: rgba(0, 255, 255,0.9);}
#row3 {background-color: rgba(0, 255, 255,0.8);}
#row4 {background-color: rgba(0, 255, 255,0.7);}
#row5 {background-color: rgba(0, 255, 255,0.6);}
#row6 {background-color: rgba(0, 255, 255,0.5);}
#row7 {background-color: rgba(0, 255, 255,0.4);}
#row8 {background-color: rgba(0, 255, 255,0.3);}
#row9 {background-color: rgba(0, 255, 255,0.2);}
#row10 {background-color: rgba(0, 255, 255,0.1);}

#hue1 {background-color: hsl(180,100%,50%);}
#hue2 {background-color: hsla(180,100%,50%,0.9);}
#hue3 {background-color: hsla(180,100%,50%,0.8);}
#hue4 {background-color: hsla(180,100%,50%,0.7);}
#hue5 {background-color: hsla(180,100%,50%,0.6);}
#hue6 {background-color: hsla(180,100%,50%,0.5);}
#hue7 {background-color: hsla(180,100%,50%,0.4);}
#hue8 {background-color: hsla(180,100%,50%,0.3);}
#hue9 {background-color: hsla(180,100%,50%,0.2);}
#hue10 {background-color: hsla(180,100%,50%,0.1);}