
#starcell {
    background-color: blue;
    width: 350px;
}

#stars {
    color: white;
    width: 350px;
    font-size: 22px;
    cellspacing: 0px;
    cellpadding: 0px;
}

.red_stripe {
    background-color: red;
    height: 30px;
}

.white_stripe {
    background-color: white;
    height: 30px;
}

#flag {
    width: 1000px;
    height: 400px;
    border-collapse: collapse;
    cellpadding: 18px;
}